.header {
    display: flex;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    height: 80px;
    padding: 0 94px;
    align-items: center;
}

.header-logo {
    margin-right: 16px;
}

.searchBar {
    display: flex;
    margin-left: 30px;
}

.searchBar__text {
    font-weight: 700;
    position: relative;
}

.searchBarField {
    border: none;
    max-width: 170px;
    text-overflow: ellipsis;
    padding-left: 5px;
    margin-left: 5px;
}

.searchBarField:hover {
    border: none;
}

.searchBar__text::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    background: #3d4152;
}

.header__navitems ul {
    display: flex;
    list-style: none;
}

.header__navitems-list {
    font-size: 16px;
    font-weight: 700;
    color: #3d4152;
    margin-right: 60px;
    font-family: 'Arial';
}

.header__navitems-list:last-child {
    margin-right: 0;
}

.header__navitems-list-link {
    display: flex;
    position: relative;
}

.header__navitems-list-link-logo {
    position: relative;
}

._1GTCc {
    stroke: currentColor;
    fill: #3d4152;
    stroke-width: 0;
}

._2MSid {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}

.zero-icon {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.offers-text {
    color: #ffa700;
    font-size: 10px;
    /* top: 26px; */
    font-weight: 600;
    position: absolute;
    right: -24px;
    text-transform: uppercase;
}

.header__navitems-list-link-text {
    align-self: center;
    padding-left: 8px;
}

.header__logo:hover,
.searchBar:hover,
.header__navitems-list:hover {
    cursor: pointer;
}

.header__navitems-list:hover {
    color: #fc8019;
}

hr {
    border: 1px solid #f0f0f5;
    margin: 32px 100px;
}

.banner_image {
    object-fit: cover;
    margin: 0 auto;
    height: 450px;
    display: block;

}

.Body {
    margin: 0 100px;

}

.section-heading {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardsContainer {
    margin: 32px 16px;
    display: flex;
    gap: 51px;
    flex-wrap: wrap;
}

.card {
    width: 229px;
    height: 240px;
}

.card:hover {
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
    cursor: pointer;
}

.card-image {
    width: 229px;
    height: 145px;
    object-fit: cover;
    border-radius: 16px;
}

.card-content {
    margin-left: 12px;
    margin-top: 7px;
}

.rating-deliveryinfo {
    display: flex;
    gap: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.rating-info {
    display: flex;
    gap: 2px;
}

.rating-text {
    display: block;
}

.rating-text,
.delivery-info {
    margin-top: 2px;
}

.cuisine,
.location {
    display: -webkit-box;
    color: #02060c99;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 200;
    font-family: sans-serif;
}